<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Appraisal Tool</display-name>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>br.com.nsol.gestfin.view.login.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/users/trocar-senha.xhtml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>NavigationFilter</filter-name>
		<filter-class>br.com.nsol.gestfin.view.login.NavigationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NavigationFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<security-constraint>
		<display-name>Open Content</display-name>
		<web-resource-collection>
			<web-resource-name>Available Resources</web-resource-name>
			<url-pattern>/javax.faces.resource/assets/*</url-pattern>
			<url-pattern>/javax.faces.resource/common/*</url-pattern>
			<url-pattern>/javax.faces.resource/fonts/*</url-pattern>
			<url-pattern>/javax.faces.resource/frameworks/*</url-pattern>
			<url-pattern>/javax.faces.resource/images/*</url-pattern>
			<url-pattern>/javax.faces.resource/javascripts/*</url-pattern>
			<url-pattern>/javax.faces.resource/stylesheets/*</url-pattern>
			<url-pattern>/resources/images/*</url-pattern>
			<url-pattern>/users/recuperar-senha.xhtml</url-pattern>
			<url-pattern>/login</url-pattern>
			<url-pattern>/login.jsf</url-pattern>
			<url-pattern>/logout.jsp</url-pattern>
			<url-pattern>/login.xhtml</url-pattern>
			<url-pattern>/integration/appraisalToolAccess.jsf</url-pattern>
			<url-pattern>/adesao/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>monitor</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>S</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>monitor</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<url-pattern>/azure/*</url-pattern>
			<url-pattern>/users/trocar-senha.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>G</role-name>
			<role-name>C</role-name>
			<role-name>A</role-name>
			<role-name>T</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Error</web-resource-name>
			<url-pattern>/error.xhtml</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>G</role-name>
	</security-role>
	<security-role>
		<role-name>C</role-name>
	</security-role>
	<security-role>
		<role-name>A</role-name>
	</security-role>
	<security-role>
		<role-name>T</role-name>
	</security-role>
	<security-role>
		<role-name>S</role-name>
	</security-role>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>otf</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>false</param-value>
	</context-param>
	<session-config>
		<session-timeout>-1</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>false</secure>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/login.xhtml</location>
	</error-page>
</web-app>