<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyEmployeeDAO">

	<select id="listAll" parameterType="map" resultMap="CompanyEmployeeDTO_ResultMap">
		<![CDATA[
			SELECT Id
			     , Name															
			     , Description															
			     , IconType															
			     , IconReference															
			     , ButtonClass															
			  FROM [CompanyEmployee]															
			 ORDER BY Id
		]]>
	</select>

	<resultMap id="CompanyEmployeeDTO_ResultMap" type="CompanyEmployeeDTO">
		<id property="id" column="Id" />
		<result property="name" column="Name" />
		<result property="description" column="Description" />
		<result property="iconType" column="IconType" />
		<result property="iconReference" column="IconReference" />
		<result property="buttonClass" column="ButtonClass" />
	</resultMap>

</mapper>